In [14]:
import pandas as pd

In [7]:
a=range(10000)

In [8]:
b=[i for i in a]

In [18]:
n=500
dfs=[]
for k in range (3):
    m=a[k*n:(k+1)*500]
    df=pd.DataFrame(m)
    dfs.append(df)
    print(m[0],m[-1])

0 499
500 999
1000 1499

In [23]:
pd.concat(dfs)

        0
0       0
1       1
2       2
3       3
4       4
..    ...
495  1495
496  1496
497  1497
498  1498
499  1499

[1500 rows x 1 columns]