In [12]:
import pandas as pd, numpy as np

In [19]:
df=pd.read_excel('Book1.xlsx')

In [39]:
df=df.set_index('Unnamed: 0')

In [42]:
d=[]
for c in df.columns:
     for i in df.index:
          if str(df.loc[i,c])!='nan':
            print(i,c,df.loc[i,c])
            d.append({'itlcode':c+'#'+i,'itlname':df.loc[i,c]})

ITL2a North East Tees Valley and Durham
ITL2b North East Northumberland and Tyne and Wear
ITL2a North West Cumbria
ITL2b North West Greater Manchester
ITL2c North West Lancashire
ITL2d North West Cheshire
ITL2e North West Merseyside
ITL2a Yorkshire and the Humber East Yorkshire and Northern Lincolnshire
ITL2b Yorkshire and the Humber North Yorkshire
ITL2c Yorkshire and the Humber South Yorkshire
ITL2d Yorkshire and the Humber West Yorkshire
ITL2a East Midlands Derbyshire and Nottinghamshire
ITL2b East Midlands Leicestershire, Rutland and Northamptonshire
ITL2c East Midlands Lincolnshire
ITL2a West Midlands Herefordshire, Worcestershire and Warwickshire
ITL2b West Midlands Shropshire and Staffordshire
ITL2c West Midlands West Midlands (county)
ITL2a East East Anglia
ITL2b East Bedfordshire and Hertfordshire
ITL2c East Essex
ITL2a London Inner London - West
ITL2b London Inner London - East
ITL2c London Outer London - East and North East
ITL2d London Outer London - South
ITL2e London Outer London - West and North West
ITL2a South East Berkshire, Buckinghamshire and Oxfordshire
ITL2b South East Surrey, East and West Sussex
ITL2c South East Hampshire and Isle of Wight
ITL2d South East Kent
ITL2a South West Gloucestershire, Wiltshire and Bristol/Bath area
ITL2b South West Dorset and Somerset
ITL2c South West Cornwall and Isles of Scilly
ITL2d South West Devon
ITL2a Wales West Wales and The Valleys
ITL2b Wales East Wales
ITL2a Scotland North Eastern Scotland
ITL2b Scotland Highlands and Islands
ITL2c Scotland Eastern Scotland
ITL2d Scotland West Central Scotland
ITL2e Scotland Southern Scotland
ITL2a Northern Ireland Northern Ireland

In [48]:
open('regions.json','w').write(json.dumps(d))

2885

In [47]:
import json